{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a final project for Computer Consultation Course">
    <meta name="author" content="Ziad Mansour Mohamed SREboy.com">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    {% block css %}{% endblock css %}
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
    
    <!-- Icon -->
    <link rel="shortcut icon" href="{% static 'main/assets/tornado.svg' %}" /> 
    {% if title %}
    <title>
        Qatar - {{ title }}
    </title>
    {% else %}
    <title>
        Qatar
    </title>
    {% endif %}

</head>

<body class="text-center text-white">
    <!-- init AlpineJS -->
    <div 
        class="container d-flex flex-column min-vh-100 p-3"
        x-data="state()"
        x-init="loadInit()"
    >
    <!-- nav-bar -->
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="col text-start">
            <h3><a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">🏆 Qatar</a></h3>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" x-bind:class="opened=='home'?'active':''" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" x-bind:class="opened=='matches'?'active':''" href="{% url 'match-list' %}">Matches</a></li>
                {% if user.is_authenticated %}
                    <!-- profile -->
                    <li class="nav-item"><a class="nav-link" x-bind:class="opened=='profile'?'active':''" href="{% url 'profile' %}">Profile</a></li>
                    <!-- log out -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <!-- Sign in -->
                    <li class="nav-item"><a class="nav-link" x-bind:class="opened=='login'?'active':''" href="{% url 'login' %}">Sign In</a></li>
                    <!-- SignUp -->
                    <li class="nav-item"><a class="nav-link" x-bind:class="opened=='register'?'active':''" href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Main -->
    <main role="main" class="px-3 my-auto">
        {% if messages %} 
            <section class="mt-3">
                <div class="container-lg">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %} 
                </div>
            </section>
        {% endif %}
        {% block content %}{% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="text-white-50">
        <p>&copy; <span x-text="new Date().getFullYear()"></span> <a href="https://www.SREboy.com/" class="text-white link">Qatar.SREboy.com</a></p>
    </footer>
    <!-- Bootstrap Bundle -->
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    {% block js %}{% endblock js %}
    <script>
        function state() {
            return {
                opened: '{{ page }}',
                loadInit() {},
                logOut() {}
            }
        }
    </script>
</body>
</html>