{% extends "main/base.html" %} 
{% load static %}
{% load define_action %}

{% block js %}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script>
        const container = document.querySelector('.container');
        const seats = document.querySelectorAll('.row .seat:not(.occupied)');
        const count = document.getElementById('count');
        const total = document.getElementById('total');

        //Update total and count
        function updateSelectedCount() {
            const selectedSeats = document.querySelectorAll('.row .seat.selected');
            const selectedSeatsCount = selectedSeats.length;
            count.innerText = selectedSeatsCount;
        }

        //Seat click event
        container.addEventListener('click', e => {
            if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied')) {
                e.target.classList.toggle('selected');
            }
            updateSelectedCount();
        });
    </script>
{% endblock js %}

{% block content %}
    <section id="categories">
        <div class="row">
            <div class="col">
                <h2 class="text-start ps-4">Matches</h2>
            </div>
            <div class="col text-end">
                {% if user.is_authenticated %}
                    <button class="btn text-white" data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</button>
                {% else %}
                    <div style="display: inline-block;" data-bs-toggle="tooltip" data-bs-placement="top" title="Sign In First">
                        <button class="btn text-white" disabled>Contact Us</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr />
        <br />
        <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr class="d-flex">
                        <th class="col-1" scope="col">#</th>
                        <th class="col-5" scope="col">Match</th>
                        <th class="col-3" scope="col">Result</th>
                        <th class="col-3" scope="col">Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches %}
                        <tr class="d-flex">
                            <th class="col-1" scope="row">{{ forloop.counter }}</th>
                            <td class="col-5 ellipses"><a data-bs-toggle="modal" data-bs-target="#detailMatchModal-{{ match.id }}">{{ match }}</a></td>
                            <td class="col-3">{{ match.score_one }} - {{ match.score_two }}</td>
                            <td class="col-3"><a data-bs-toggle="modal" data-bs-target="#reserveTicketModal-{{ match.id }}">link</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}

{% block modals %}
    <!-- Contact Us Modal -->
    <div class="modal fade custom-model" id="contactUsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="contactUsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form  action="" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="contactUsModal">Join Us and Become a Manager</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputDrguid" value="{{ user.id }}" readonly>
                            <label for="floatingInputDrguid">User Guid</label>
                        </div>
                        <div class="form-check form-switch text-start">
                            <input name="manager-role" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label style="color: rgb(232, 141, 14);" class="form-check-label" for="flexSwitchCheckDefault">Apply for a manager position</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for match in matches %}
        <!-- Detail Modal -->
        <div class="modal fade custom-model" id="detailMatchModal-{{ match.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailMatchModal-{{ match.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailMatchModal-{{ match.id }}">Match Details</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputDrguid" value="{{ match.id }}" readonly>
                            <label for="floatingInputDrguid">Match Guid</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInputDrname" value="{{ match }}" readonly>
                                    <label for="floatingInputDrname">Match details</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInputDrname" value="{{ match.score_one }} - {{ match.score_two }}" readonly>
                                    <label for="floatingInputDrname">Match Results</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fw-bold border-white bg-white" data-bs-dismiss="modal">Nice</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reserve Ticket Modal -->
        <div class="modal fade custom-model" id="reserveTicketModal-{{ match.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reserveTicketModal-{{ match.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form  action="" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="reserveTicketModal-{{ match.id }}"><span style="color: rgb(232, 141, 14);">{{ match.team_one }}</span> vs <span style="color: rgb(232, 141, 14);">{{ match.team_two }}</span> Tickets Reservation</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <section x-show="showSeats" x-cloak>
                                <!-- center grid -->
                                <ul class="showcase">
                                    <li>
                                        <div class="seat"></div>
                                        <small>N/A</small>
                                    </li>
                                    <li>
                                        <div class="seat selected"></div>
                                        <small>Selected</small>
                                    </li>
                                    <li>
                                        <div class="seat occupied"></div>
                                        <small>Occupied</small>
                                    </li>    
                                </ul>
                                <div class="container">
                                    {% with ''|center:match.venue.rows_num as range %}
                                        {% for r in range %}
                                            <div class="row">
                                                {% with ''|center:match.venue.seats_num as range %}
                                                    {% for c in range %}
                                                        {% define forloop.parentloop.counter forloop.counter match.taken_seats as taken %}
                                                        {% if taken %}
                                                            <div value="{{ forloop.parentloop.counter }} {{ forloop.counter }}" class="seat occupied"></div>
                                                        {% else %}
                                                            <div value="{{ forloop.parentloop.counter }} {{ forloop.counter }}" class="seat"></div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endwith %}
                                            </div>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                                <div class="mt-2">
                                    <p class="text">
                                        You have selected <span id="count">0</span> seats. Total price on checkout.
                                    </p>
                                </div>
                            </section>
                            <section x-show="!showSeats" x-cloak id="home">
                                <div class="form-floating mb-3">
                                    <input name="cardNumber" type="text" class="form-control" id="floatingInputDrguid" placeholder="Enter Credit Card Number" required>
                                    <label for="floatingInputDrguid">Enter Credit Card Number</label>
                                </div>
                                <div class="form-floating pb-2">
                                    <input name="cardName" type="text" class="form-control" id="floatingInputLogin" placeholder="Enter Name on Card" required>
                                    <label for="floatingInputLogin">Name on the card</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input name="cardExp" type="text" class="form-control" id="floatingInputDrname" placeholder="Enter Expiration Date" required>
                                            <label for="floatingInputDrname">Expiration Date</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input name="cardCvv" type="text" class="form-control" id="floatingInputDrname" placeholder="Enter CVV" required>
                                            <label for="floatingInputDrname">CVV</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating custom-form-floating">
                                    <textarea class="form-control h-100" x-model="chosenSeatsStr" :rows="chosenSeats.length" id="floatingTextarea2" readonly>
                                    </textarea>
                                    <label for="floatingTextarea2">Selected Seats</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" x-model="totalDiscount" class="form-control" id="floatingInputDrname" readonly>
                                            <label for="floatingInputDrname">Total Discount</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" x-model="totalPrice" class="form-control" id="floatingInputDrname" readonly>
                                            <label for="floatingInputDrname">Total Price</label>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- hidden field -->
                            <input type="hidden" name="match-id" value="{{ match.id }}">
                            <input type="hidden" name="seats" :value="chosenSeatsNames">
                        </div>
                        <div class="modal-footer">
                            <section x-show="showSeats" x-cloak id="home">
                                <button 
                                    x-on:click="checkOut({{ match.level_price }}, {{ match.venue.rows_num }})" 
                                    type="button" class="btn btn-secondary fw-bold border-white bg-white"
                                >Checkout</button>
                            </section>
                            <section x-show="!showSeats" x-cloak id="home">
                                <button
                                    type="submit" class="btn btn-success fw-bold"
                                >Pay</button>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock modals %}